.windowsDots {
	--color: #3197FF;
	--translate-dist: 750%;
	--animation-delay-diff: 0.5s;
	--animation-dotwave-duration: 5s;
}

.windowsDots svg {

}

.windowsDots svg circle {
	stroke: none;
	fill: var(--color);
	will-change: transform;
	transform: translateX(-100%);

	animation-name: windowsDots;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: var(--animation-dotwave-duration);
}

.windowsDots svg circle:nth-last-child(1) {
	animation-delay: calc(var(--animation-delay-diff) * 0);
}

.windowsDots svg circle:nth-last-child(2) {
	animation-delay: calc(var(--animation-delay-diff) * 1);
}

.windowsDots svg circle:nth-last-child(3) {
	animation-delay: calc(var(--animation-delay-diff) * 2);
}

.windowsDots svg circle:nth-last-child(4) {
	animation-delay: calc(var(--animation-delay-diff) * 3);
}

.windowsDots svg circle:nth-last-child(5) {
	animation-delay: calc(var(--animation-delay-diff) * 4);
}

@keyframes windowsDots {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(var(--translate-dist));
	}
}